html {
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

@media (min-width: 768px) {
    body {
        font-size: 1.4rem;
    }
}

.blog-post blockquote {
    border-left: .4em #c0c0c0 solid;
    padding-left: 1.2em;
    color: #666;
}

.blog-post img {
    max-height: 300px;
    max-width: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    &.full-image {
        width: 100%;
        height: auto;
        max-height: none;
    }
}

.post-info {
    margin-bottom: 16px;
}

.post-info-item {
    white-space: nowrap;
}

.blog-preview > .post-info {
    margin-bottom: 0px;
}

a.blog-preview {
    display: block;
    text-decoration: none;
    color: var(--bs-body-color);
    margin-top: 20px;
}

details {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 1rem;

    & :last-child {
        margin-bottom: 0;
    }
}

.codehilite {
    border-radius: 10px;

    pre {
        padding: 10px;
    }
}
